<div id="<%= dom_id volunteer %>" class="w-full flex flex-col">

  <div class="volunteer flex flex-col px-[15px] mb-[60px]">
    <%= image_tag volunteer.avatar, class: "w-full" %>

    <h3 class="f-roboto text-[#222E35] text-[18px] font-bold mb-[4px] mt-[20px]"><%= volunteer.first_name %> <%= volunteer.last_name %></h3>
    <p class="text-[#EB5310] text-[13px] mb-[15px] pb-[15px] border-b-1 border-[#E6E6E6]">Volunteer</p>
  
    <p class="text-[#9C9C9C] text-sm"> <%= truncate(volunteer.description, length: 150) %> </p>
    <%= link_to "view profile", volunteer, class: "text-[#F14B05] uppercase f-roboto text-bold bg-white mt-[13px] px-[15px] py-[8px] rounded-full border-2 border-[#F14B05] text-[11px] font-bold w-fit hover:bg-[#F14B05] hover:text-white transition-colors duration-500" %>
    
    <%# <div class=""> %>
      <%# <%= link_to "Show", volunteer, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %> 
      <%# <%= link_to "Edit", edit_volunteer_path(volunteer), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%# <%= button_to "Destroy", volunteer, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    <%# </div> %>
    
  </div>

</div>
