<div id="<%= dom_id cause %>" class="w-full px-[15px]">
  <div class="col-span-12 relative">
    
    <%= image_tag cause.image, class: "w-full block" %>

    <div class="absolute w-full bottom-0 px-[40px] py-[22px] bg-white/70"
        data-controller="progress-bar"
        data-progress-bar-goal-amount-value="<%= cause.goal_amount %>"
        data-progress-bar-collected-amount-value="<%= cause.collected_amount %>">

      <div class="bar w-full bg-[#9C9C9C] h-[15px] rounded-full relative">
        <div data-progress-bar-target="percentage"
            class="absolute flex justify-center items-center border-2 border-white bg-[#EB5310] text-white w-[35px] h-[35px] rounded-full top-[-10px] text-[10px] font-[500]"></div>

        <div data-progress-bar-target="progress"
            class="progress bg-[#EB5310] h-[15px] rounded-full w-0"></div>
      </div>
    </div>
  </div>

  <div class="col-span-12">
    <div class="cause-details px-[20px] pb-[15px]">
        <h3 class="text-[#454545] text-xl f-roboto my-[20px] font-bold"> <%= cause.title %> </h3>
        <p class="text-sm text-[#EB5310] font-[500] mb-[15px]"> <span> $<%= cause.collected_amount %> donated of $<%= cause.goal_amount %> goal </span>  </p>
        <p class="text-[#9C9C9C] text-[15px] "> <%= cause.short_description %> </p>
        
      <div class="buttons mt-[30px] my-[20px]">
          <%= link_to "Donate now", cause, class: "text-white uppercase f-roboto text-bold bg-[#F14B05] px-[15px] py-[8px] rounded-full border-2 border-[#F14B05] text-[11px] font-bold w-fit hover:bg-white hover:text-[#F14B05] transition-colors duration-500" %>
          <%= link_to "Read more", cause, class: "text-[#F14B05] uppercase f-roboto text-bold bg-white px-[15px] py-[8px] rounded-full border-2 border-[#F14B05] text-[11px] font-bold w-fit hover:bg-[#F14B05] hover:text-white transition-colors duration-500" %>
      </div>
    </div>
  </div>
</div>

