<section class="hero">
  <div class="hero-bg relative bg-[url('/assets/hero-bg.jpg')] bg-cover bg-center bg-no-repeat min-h-[640px]">
    
    <div class="absolute inset-0 bg-black/40 z-0"></div>

    <div class="container relative z-10 min-h-[640px] mx-auto flex flex-col gap-2.5 justify-center px-[15px]">
      <h2 class="bg-[#f14b05] uppercase text-white text-[20px] sm:text-[24px] md:text-[28px] font-[300] w-fit px-1">to feed and educate!</h2>
      <h1 class="bg-[#262F36] text-[28px] sm:text-[36px] md:text-[48px] uppercase font-extrabold text-white px-1 w-fit">we need your support</h1>
      <h2 class="bg-white text-[18px] sm:text-[20px] md:text-[23px] text-[#f14b05] px-2 w-fit">Became a part to change the world</h2>

      <p class="text-white text-[12px] sm:text-[14px] md:text-[16px] max-w-[500px]">
        Our Company has a long tradition of charitable giving and philanthropy. Lorem ipsum dolor sit amet
      </p>

      <div class="flex gap-3">
        <%= button_to 'donate now', '/', method: :get, class: 'f-roboto text-[11px] sm:text-[12px] md:text-[14px] uppercase rounded-full text-white py-[12px] px-[17px] font-bold border-2 border-[#f14b05] bg-[#f14b05] mt-5 cursor-pointer hover:bg-white hover:text-[#f14b05] transition-colors duration-300' %>   
        <%= button_to 'learn more', '/', method: :get, class: 'f-roboto text-[11px] sm:text-[12px] md:text-[14px] uppercase rounded-full text-[#f14b05] py-[12px] px-[17px] font-bold border-2 border-[#f14b05] bg-white mt-5 cursor-pointer hover:bg-transparent hover:text-white transition-colors duration-300' %>   
      </div>
    </div>
    
  </div>
</section>

<section class="call-to-cation text-white">
  <div class="grid grid-cols-1 lg:grid-cols-3">
    
    <div class="relative group flex justify-center items-center gap-[15px] min-h-[250px] px-6 sm:px-8 lg:px-10 bg-[url('/assets/call-to-action-1.jpg')] bg-cover bg-center bg-no-repeat lg:justify-start">
      <div class="absolute inset-0 bg-[#eb5310]/90 transition-colors duration-300 group-hover:bg-[#c94209]/90 z-0"></div>

      <%= image_tag("coin.png", class: "w-[50px] h-[50px] relative z-10") %>
      <div class="relative z-10 text-white text-center lg:text-left">
        <h3 class="f-roboto uppercase text-[18px] sm:text-[20px] md:text-[22px] font-bold mt-3.5">Donation</h3>
        <p class="text-[12px] sm:text-[14px] md:text-[16px] mt-5">There are many variations of lorem passagei of Lorem Ipsum availabl</p>
        <%= button_to 'learn more', '/', method: :get, class: 'f-roboto text-[10px] sm:text-[11px] md:text-[12px] uppercase rounded-full text-white py-[7px] px-[22px] font-bold border-2 border-white bg-transparent mt-5 cursor-pointer hover:bg-white hover:text-[#f14b05] transition-colors duration-300' %>   
      </div>
    </div>

    <div class="relative group flex justify-center items-center gap-[15px] min-h-[250px] px-6 sm:px-8 lg:px-10 bg-[url('/assets/call-to-action-2.jpg')] bg-cover bg-center bg-no-repeat">
      <div class="absolute inset-0 bg-[#fa773de6]/90 transition-colors duration-300 group-hover:bg-[#c94209]/90 z-0"></div>

      <%= image_tag("coin.png", class: "w-[50px] h-[50px] relative z-10") %>
      <div class="relative z-10 text-white text-center lg:text-left">
        <h3 class="f-roboto uppercase text-[18px] sm:text-[20px] md:text-[22px] font-bold mt-3.5">Donation</h3>
        <p class="text-[12px] sm:text-[14px] md:text-[16px] mt-5">There are many variations of lorem passagei of Lorem Ipsum availabl</p>
        <%= button_to 'learn more', '/', method: :get, class: 'f-roboto text-[10px] sm:text-[11px] md:text-[12px] uppercase rounded-full text-white py-[7px] px-[22px] font-bold border-2 border-white bg-transparent mt-5 cursor-pointer hover:bg-white hover:text-[#f14b05] transition-colors duration-300' %>   
      </div>
    </div>

    <div class="relative group flex justify-center items-center gap-[15px] min-h-[250px] px-6 sm:px-8 lg:px-10 bg-[url('/assets/call-to-action-3.jpg')] bg-cover bg-center bg-no-repeat">
      <div class="absolute inset-0 bg-[#eb5310]/90 transition-colors duration-300 group-hover:bg-[#c94209]/90 z-0"></div>

      <%= image_tag("coin.png", class: "w-[50px] h-[50px] relative z-10") %>
      <div class="relative z-10 text-white text-center lg:text-left">
        <h3 class="f-roboto uppercase text-[18px] sm:text-[20px] md:text-[22px] font-bold mt-3.5">Donation</h3>
        <p class="text-[12px] sm:text-[14px] md:text-[16px] mt-5">There are many variations of lorem passagei of Lorem Ipsum availabl</p>
        <%= button_to 'learn more', '/', method: :get, class: 'f-roboto text-[10px] sm:text-[11px] md:text-[12px] uppercase rounded-full text-white py-[7px] px-[22px] font-bold border-2 border-white bg-transparent mt-5 cursor-pointer hover:bg-white hover:text-[#f14b05] transition-colors duration-300' %>   
      </div>
    </div>

  </div>
</section>

<section class="resenn-causes bg-[#fafafa]">
  <div class="container mx-auto pt-16 pb-6">

    <h2 class="text-[26px] sm:text-[32px] md:text-[35px] font-bold mb-4 text-center">Recent Causes</h2>
    <p class="text-[14px] sm:text-[16px] text-[#747474] mb-10 text-center">Lorem ipsum is a dummy text it will use for subtitle here</p>

    <% if @recent_causes.any? %>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <% @recent_causes.each do |cause| %>
          <%= render 'causes/cause', cause: cause %>
        <% end %>
      </div>
    <% else %>
      <p class="text-gray-500 text-center my-10 col-span-full">No causes found.</p>
    <% end %>
    
  </div>
</section>

<section class="view-full-gallery text-white py-[55px] bg-[#eb5310] text-center lg:text-left">
  <div class="container flex flex-col lg:flex-row justify-center items-center mx-auto gap-6 px-[15px]">
    <div class="lg:flex-1">
      <h3 class="f-roboto text-[28px] pb-4 font-bold">Here will be any kind lorem ipsum heading</h3>
      <p class="text-base">There are many variations of passages of Lorem Ipsum available, but the majority have lorem</p>
    </div>

    <div class="lg:flex-none">
      <%= link_to "View full gallery", gallery_images_path, class:"f-roboto text-[12px] uppercase rounded-full text-black py-[14px] px-[24px] font-bold border-2 border-white bg-white mt-4 mb-2 cursor-pointer hover:bg-transparent hover:text-white transition-colors duration-300" %>
    </div>
  </div>
</section>

<section class="our-mission">
  <div class="container mx-auto mt-22.5 mb-22.5 flex flex-col justify-center items-center our-mission">
    <h2 class="text-[35px] font-bold mb-4 text-center">Our Mission</h2>
    <p class="text-[#747474] mb-5 text-center text-[16px]">
      Lorem ipsum is a dummy text it will use for subtitle here
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">

      <% 6.times do  %>
      <div class="flex flex-col lg:flex-row items-center lg:items-start h-auto px-4 text-center lg:text-left gap-0 lg:gap-6 py-[20px] group">
        <div class="mission-icon-box mb-6 lg:mb-0 lg:mr-4 flex-shrink-0">
          <%= image_tag("read.png", class: "w-11 h-11") %>
        </div>
        <div class="content">
          <h3 class="text-2xl sm:text-xl xs:text-lg mb-2 font-bold f-roboto">Charity For Education</h3>
          <p class="text-[14px] xs:text-[13px] text-[#9C9C9C] mb-0">
            There are many variations of lorem passagei of Lorem Ipsum available but the majority have
          </p>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</section>

<section class="fact-counter py-[50px] bg-[#eb5310] text-center text-white">
  <div class="container px-[15px] mx-auto lg:flex lg:justify-between lg:items-center">
    
    <div class="lg:w-1/2 lg:text-start lg:pr-10 flex flex-col justify-center ">
      <h2 class="text-4xl f-roboto font-light mb-[27px]">
        We are served since <span class="font-medium">35 years</span> to helpless people with trust and we are happy
      </h2>
      <%= button_to 'be a part of us', '/', method: :get, class: 'f-roboto text-[12px] uppercase rounded-full text-[#f14b05] py-[7px] px-[35px] font-bold border-2 border-white bg-white mb-9 lg:mb-0 cursor-pointer hover:bg-[#f14b05] hover:text-white transition-colors duration-300' %>
    </div>

    <div class="lg:w-1/2 flex flex-wrap justify-center lg:gap-x-6">
      <div class="fact flex flex-col justify-center items-center min-w-[70px] mt-[30px] px-[35px]">
        <div class="icon-box mb-4 w-[100px] h-[100px] border-2 border-white rounded-full flex justify-center items-center">
          <%= image_tag("rewards.png", class: "icon w-[50px] h-[50px]") %>
        </div>
        <div class="timer text-5xl font-medium">369</div>
        <p class="text-xs">Total Awards</p>
      </div>

      <div class="fact flex flex-col justify-center items-center min-w-[70px] mt-[30px] px-[35px]">
        <div class="icon-box mb-4 w-[100px] h-[100px] border-2 border-white rounded-full flex justify-center items-center">
          <%= image_tag("rewards.png", class: "icon w-[50px] h-[50px]") %>
        </div>
        <div class="timer text-5xl font-medium">369</div>
        <p class="text-xs">Total Awards</p>
      </div>

      <div class="fact flex flex-col justify-center items-center min-w-[70px] mt-[30px] px-[35px]">
        <div class="icon-box mb-4 w-[100px] h-[100px] border-2 border-white rounded-full flex justify-center items-center">
          <%= image_tag("rewards.png", class: "icon w-[50px] h-[50px]") %>
        </div>
        <div class="timer text-5xl font-medium">369</div>
        <p class="text-xs">Total Awards</p>
      </div>
    </div>

  </div>
</section>


<section class="our-volunteers">
  <div class="container relative pt-22.5 pb-2.5 mx-auto">
    <h2 class="text-[35px] font-bold mb-4 mx-auto px-[15px] text-left">Meet Our Volunteers</h2>
    <p class="text-4 text-[#747474] mb-10 px-[15px] text-left">Lorem ipsum is a dummy text it will use for subtitle here</p>

    <div class="buttons z-10 flex gap-3.5 justify-end px-[15px] mb-[20px]">
      <div class="swiper-prev text-white bg-[#EB5310] w-[45px] h-[45px] flex justify-center items-center cursor-pointer text-3xl">&lt;</div>
      <div class="swiper-next text-white bg-[#EB5310] w-[45px] h-[45px] flex justify-center items-center cursor-pointer text-3xl">&gt;</div>      
    </div>

    <div data-controller="swiper" class="swiper">
      <div class="swiper-wrapper">

        <% if @our_volunteers.any? %>
          <% @our_volunteers.each do |volunteer| %>
            <div class="swiper-slide">
              <%= render 'volunteers/volunteer_card', volunteer: volunteer %>
            </div>  
          <% end %>
        <% else %>
          <p class="text-gray-500 text-center my-10 col-span-full">No volunteers found.</p>
        <% end %>

      </div>
    </div>
  </div>
</section>

