<footer class="pb-[40px] pt-[90px] bg-[#262F36] text-[#C9C9C9] text-[13px]">
  <div class="container mx-auto px-[15px] justify-items-center">
    <div class="grid grid-cols-1 xl:grid-cols-3">
      <div class="block max-w-[400px]">
        <%= image_tag("logo-white.png", class: "mb-[20px]")%>
        <p class="leading-7 mb-3.5">Lorem ipsum dolor sit amet, eu me evert laboramus, iudico</p>

        <div class="contact flex flex-col gap-2.5 mb-[50px]">
        
          <div class="flex items-center">
            <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
            <span>60 Grant Ave. Carteret NJ 0708</span>
          </div>
          <div class="flex items-center">
            <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
            <span>60 Grant Ave. Carteret NJ 0708</span>
          </div>
          <div class="flex items-center">
            <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
            <span>60 Grant Ave. Carteret NJ 0708</span>
          </div>
          <div class="flex items-center">
            <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
            <span>60 Grant Ave. Carteret NJ 0708</span>
          </div>              
        </div>
      </div>

      <div class="pages max-w-[400px] mb-[50px]">
        <h3 class="text-xl mb-15 text-white f-roboto font-bold">Pages</h3>

        <div class="grid grid-cols-2">
          <div class="link text-sm mb-4.5">About Us</div>
          <div class="link text-sm mb-4.5">About Us</div>
          <div class="link text-sm mb-4.5">About Us</div>
          <div class="link text-sm mb-4.5">About Us</div>
          <div class="link text-sm mb-4.5">About Us</div>
          <div class="link text-sm mb-4.5">About Us</div>
        </div>
      </div>

      <div class="pages w-full max-w-[400px] mb-[50px]">
        <%= form_with url: contact_us_path, method: :post, local: true do |f| %>
          <h3 class="text-xl mb-15 text-white f-roboto font-bold">Contact Form</h3>

          <%= f.text_field :name, placeholder: "Full name", class: "w-full h-[50px] bg-[#2C353C] text-[#C9C9C9] text-[13px] mb-[10px] border-0 outline-none px-[20px]" %>

          <%= f.email_field :email, placeholder: "Email Address", class: "w-full h-[50px] bg-[#2C353C] text-[#C9C9C9] text-[13px] mb-[10px] border-0 outline-none px-[20px]" %>

          <%= f.text_area :message, placeholder: "Your text", class: "w-full min-h-[50px] h-[200px] bg-[#2C353C] text-[#C9C9C9] text-[13px] mb-[10px] border-0 outline-none p-[20px] resize-y" %>

          <%= f.submit "Send", class: "w-full h-[50px] bg-[#eb5310] text-white uppercase text-[13px] border-0 outline-none p-0 leading-[50px] font-bold transition-all duration-300 ease-in-out hover:bg-white hover:text-[#eb5310]" %>
        <% end %>
      </div>

    </div>
  </div>
</footer>
