<!DOCTYPE html>
<html>
  <head>
    <title>CharityApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      
  </head>

  <body>

    <header class="flex flex-col justify-center items-center py-5">
      <div class="mb-8"> <%= image_tag("dark-logo.png", alt: "dark-logo.png") %> </div>
      
      <div class="flex gap-20 text-[13px]">
        <div class="flex flex-col gap-1 justify-center items-center">
          <div class="p-1 border border-[#E1E1E1] flex justify-center items-center w-16 h-16 rounded-full ">
            <div class=""><%= image_tag("email.png", alt: "fast-delivery") %></div>
          </div>
          <div class="font-bold f-roboto">EMAIL</div>
          <div class="text-[#B6B6B6]">companyname@mail.com</div>
        </div>

        <div class="flex flex-col gap-1 justify-center items-center text-sm">
          <div class="p-1 border border-[#E1E1E1] flex justify-center items-center w-16 h-16 rounded-full">
            <div class=""><%= image_tag("smartphone.png", alt: "") %></div>
          </div>
          <div class="font-bold f-roboto">CALL NOW</div>
          <div class="font-medium text-lg">(732) 803-010-03</div>
        </div>
      </div>

      <%= button_to 'donate now', '/', method: :get, class: 'f-roboto text-[12px] uppercase rounded-full text-white py-[7px] px-[35px] font-bold border-2 border-[#f14b05] bg-[#f14b05] mt-5 cursor-pointer hover:bg-white hover:text-[#f14b05] transition-colors duration-300' %>  
    </header>

    <div class="flex mainmenu min-w-full bg-[#262F36] h-[74px] border-b-4 border-[#f14b05] sticky top-0 z-100">
      <div class="container flex justify-between mx-auto px-[15px] h-[70px] content-center items-center">
        <div class="mobile-nav-toggle w-10 h-10 bg-[#f14b05] flex justify-center items-center"> 
          <%= image_tag("burger-bar.png", class: "w-[20] h-[22]")%>
        </div>
        
        <div class="w-[300px] h-screen bg-[#202020] text-white fixed top-0 right-0">
          <div>
            <%= image_tag("dark-logo.png", alt: "", class:"mb-[100px] px-[35px] py-[25px]") %>
            
            <ul>
              <li class="border-t-1 border-gray-700 px-[25px] py-[10px]"><a href="#" class=" text=[15px] font-medium uppercase">Home</a></li>
              <li class="border-t-1 border-gray-700 px-[25px] py-[10px]"><a href="#" class=" text=[15px] font-medium uppercase">Home</a></li>
              <li class="border-t-1 border-gray-700 px-[25px] py-[10px]"><a href="#" class=" text=[15px] font-medium uppercase">Home</a></li>
            </ul>
          </div>
        </div>

      
        <div class="search">
          <%= image_tag("search.png", class: "w-[22] h-[22]")%>
        </div>
      </div>
    </div>

    <main class="">
      <%= yield %>
    </main>


    <footer class="pb-[40px] pt-[90px] bg-[#262F36] text-[#C9C9C9] text-[13px]">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 justify-items-center">
          <div class="block px-[15px] w-[400px]">
            <%= image_tag("logo-white", class: "mb-[20px]")%>
            <p class="leading-7 mb-3.5">Lorem ipsum dolor sit amet, eu me evert laboramus, iudico</p>

            <div class="contact flex flex-col gap-2.5 mb-[50px]">
            
              <div class="flex items-center">
                <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
                <span>60 Grant Ave. Carteret NJ 0708</span>
              </div>
              <div class="flex items-center">
                <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
                <span>60 Grant Ave. Carteret NJ 0708</span>
              </div>
              <div class="flex items-center">
                <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
                <span>60 Grant Ave. Carteret NJ 0708</span>
              </div>
              <div class="flex items-center">
                <%= image_tag("maps-and-flags.png", class: "h-[17px] mr-[18px]") %>
                <span>60 Grant Ave. Carteret NJ 0708</span>
              </div>              
            </div>
          </div>

          <div class="pages px-[15px] w-[400px] mb-[50px]">
            <h3 class="text-xl mb-15 text-white f-roboto font-bold">Pages</h3>

            <div class="grid grid-cols-2">
              <div class="link text-sm mb-4.5">About Us</div>
              <div class="link text-sm mb-4.5">About Us</div>
              <div class="link text-sm mb-4.5">About Us</div>
              <div class="link text-sm mb-4.5">About Us</div>
              <div class="link text-sm mb-4.5">About Us</div>
              <div class="link text-sm mb-4.5">About Us</div>
            </div>
          </div>

          <div class="pages px-[15px] w-[400px] mb-[50px]">
            <h3 class="text-xl mb-15 text-white f-roboto font-bold">Contact Form</h3>

            <input type="text" name="username" placeholder="Full name" class="w-full h-[50px] bg-[#2C353C] text-[#C9C9C9] text-[13px] mb-[10px] border-0 outline-none px-[20px]">
            <input type="email" name="username" placeholder="Email Address" class="w-full h-[50px] bg-[#2C353C] text-[#C9C9C9] text-[13px] mb-[10px] border-0 outline-none px-[20px]">

            <textarea name="username" placeholder="Your text" class="w-full min-h-[50px] h-[200px] bg-[#2C353C] text-[#C9C9C9] text-[13px] mb-[10px] border-0 outline-none p-[20px] resize-y "> </textarea>
          
            <div class="w-full h-[50px] bg-[#eb5310] text-white uppercase text-[13px] border-0 outline-none p-0 leading-[50px] font-bold transition-all duration-300 ease-in-out hover:bg-white hover:text-[#eb5310]">Send</div>
          </div>
        </div>
      </div>
    </footer>


  </body>
</html>
