<!DOCTYPE html>
<html>
  <head>
    <title>CharityApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Svi5vS43TUFmAg2j7xj3KuW-6vdTQrg&v=weekly&libraries=marker", async: true, defer: true %>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />


  </head>

  <body>

    <%= render 'layouts/flash' %>

    <%= render 'layouts/header' %>
    
    <%= render 'layouts/menu' %>

    <main class="">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  </body>
</html>
